.galleryHeader{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    align-items: baseline;
    border: solid 1px #64C3FF;
}

.galleryPicContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 0rem;
}

.galleryFilterContainer{
    width: 15%;
    display: flex;
    margin: 1rem 0rem 0rem 2rem ;
}

/* Pet pic card surrounding div */
.galleryPetCard{
    flex-basis: 30%;
    margin-bottom: 1rem;
}
/* Pet pic card itself */
.galleryCard{
    text-align: center;
}