.individualFollowedUser{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
/* Search results container */
.usersToFollow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.individualUser {
  margin:0.3rem ;
}

/* List of users that you follow */
.usersFollowedContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

/* Individual usernames you follow */
.followedUserName{
    margin-right: 1rem;
    margin-bottom: 0.1rem;
    margin-left:.3rem;
}

.individualFollowedUser {
    justify-content: space-between;
    background-color: #daf0ff;
    border-radius: .2rem;
    margin-top:.5rem;
}

.individualFollowedUser:hover {
  justify-content: space-between;
  background-color: #daf0ff;
  border-radius: .2rem;
  margin-top:.5rem;
  transform: scale(1.03)
}

.fakeLink {
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
  }
  
  .href {
    color: #479cf7d3;
  }

  .followUserForm{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }

.followUserButton{
      margin: 0rem 2rem;
  }