.mainContainer{
background-color: cornsilk;
}

.box{
    border: solid 1px  #e0e0e0;
    border-radius: 0.2rem;
    box-shadow: 0px 2px 10px -10px black;
    background-color: white;
}

h5 {
    color:#FF5112;
    
}

.usersFollowedContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid #FF5112;
    border-radius: 0.2rem;
    box-shadow: 0px 2px 10px -10px black;
    padding: 1rem;
    background: white;
}