.petCard {
    margin: 1rem;
}

.logoContainer {
    display: flex;
}

.editPetButtonContainer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }

.editPetButton{
      margin: 0rem 2rem;
  }